/.cargo
/.axconfig.*
*.elf
*.bin
kernel-rv
kernel-la
disk.img
disk-la.img
sdcard-rv.img*
sdcard-la.img*
os_serial_out_*.txt
autotest-run-*.log
.last-autotest-log
starry-next/.cargo/
starry-next/.axconfig.*
starry-next/*.elf
starry-next/*.bin
starry-next/kernel-rv
starry-next/kernel-la
starry-next/arceos/disk.img
starry-next/**/target/
autotest-for-oskernel/**/__pycache__/
testsuits-for-oskernel/sdcard-*.img*
testsuits-for-oskernel/mnt/
testsuits-for-oskernel/sdcard/
testdata/
